@charset "UTF-8";
* {
  margin: 0;
}

html {
  font-family: "Jost", sans-serif;
}

h1 {
  font-family: "lemon_milkbold_italic", "Arial", serif;
  font-size: 3vw;
  text-shadow: 0.4rem 0.4rem #7BE495;
  color: #205072;
  margin: 50px 20px 50px 20px;
  text-align: center;
}

h2 {
  font-family: "lemon_milkbold_italic", "Arial", serif;
  font-size: 2.5em;
  margin: 50px 50px 50px 10%;
  text-shadow: 0.25rem 0.25rem #7BE495;
  color: #205072;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
  color: grey;
}

p {
  font-size: 1.4em;
  color: #205072;
  text-align: justify;
  margin-right: 10%;
  margin-left: 10%;
}

a {
  color: #205072;
}
a:hover {
  font-weight: bold;
}

body {
  background-color: #ebebeb;
}
body::-webkit-scrollbar {
  width: 1em;
  z-index: 100;
  background-color: #CFF4D2;
  border-radius: 2em;
}
body::-webkit-scrollbar-thumb {
  background-color: #329D9C;
  border-radius: 2em;
}

.accueil, .experiences, .formations, .benevolats, .certifs, .competences, .loisirs, .contact {
  margin: 20px;
}

.mailto {
  font-size: 1.4em !important;
}

#acc:hover, #cer:hover, #com:hover, #con:hover, #ben:hover, #exp:hover, #for:hover, #loi:hover, #por:hover, #title-form:hover {
  transform: translateX(50px);
  transition: 330ms ease-in-out;
}

footer {
  z-index: 10;
  padding: 10px;
}

#dev-projects {
  display: flex;
  flex-wrap: wrap;
}

.projects-dev {
  flex: 1 1 25%;
  display: flex;
  flex-direction: column;
  background: #205072;
  min-width: 45%;
  padding: 20px;
  margin: 20px;
}

.screenshots {
  width: 100%;
}

.project-dev-title {
  color: #ebebeb;
  text-align: center;
}

.hovering-code {
  color: #205072;
  transition: color 0.3s ease-out;
}
.hovering-code:hover {
  color: #ebebeb;
}

.projects-dev-description {
  color: #ebebeb;
}

.projects-dev-description a {
  color: #ebebeb;
}

.projects-marketing-design {
  text-align: center;
}

.iframe-projects {
  width: 75%;
  height: 70vh;
}

@font-face {
  font-family: "lemon_milkbold_italic";
  src: url("lemonmilk-bolditalic-webfont.eot");
  src: url("lemonmilk-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("lemonmilk-bolditalic-webfont.woff2") format("woff2"), url("lemonmilk-bolditalic-webfont.woff") format("woff"), url("lemonmilk-bolditalic-webfont.ttf") format("truetype"), url("lemonmilk-bolditalic-webfont.svg#lemon_milkbold_italic") format("svg");
}
@keyframes headshake {
  25% {
    transform: translateX(1%);
  }
  75% {
    transform: translateX(-1%);
  }
}
#title-form {
  font-size: 2.5rem;
  margin-top: 50px;
}

[type=submit] {
  margin-top: 2%;
  font-family: "lemon_milkbold_italic", "Arial", serif;
  color: #205072;
  background: #7BE495;
  cursor: pointer;
}

form {
  width: 100%;
  margin-top: 200px;
}
formdiv + div {
  margin-top: 1em;
}
form label {
  font-family: "lemon_milkbold_italic", "Arial", serif;
  color: #205072;
  font-size: 1.4em;
  width: 100%;
  margin: 3% 5% 1% 10%;
}
form input {
  box-sizing: border-box;
  border: 3px solid #7BE495;
  border-radius: 1em;
  font-size: 1.4em;
  padding: 10px 10px 10px 10px;
  width: 80%;
  margin: 0 10% 2% 10%;
  font-family: "Jost", "Arial", sans-serif;
  background: #ebebeb;
}
form input:focus {
  border: 2px solid #205072;
}
form input:not(:focus):invalid {
  border: 2px, solid;
  animation: headshake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 2;
}

#nav-links {
  background: #205072;
}

#topnav_menu {
  display: flex;
  background: #205072;
  height: 70px;
  padding: 10px;
  align-items: center;
}

#logo {
  height: 70px;
}

.nav-link {
  font-family: "lemon_milkbold_italic", sans-serif;
  color: #CFF4D2;
  vertical-align: middle;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
}

/* Hover effects */
#topnav_menu .nav-link:hover {
  background: #329d9c;
}

/* Dropdown menu CSS code */
.dropdown {
  position: relative;
  display: inline-block;
}

.drop-content {
  display: none;
  position: absolute;
  min-width: 120px;
  background: #205072;
  font-size: 16px;
  top: 34px;
  z-index: 1;
}

/* on hover show dropdown */
.dropdown:hover .drop-content {
  display: block;
}

/* dropdown links */
.drop-content .nav-link {
  padding: 12px 10px;
  display: block;
  transition: all 0.5s ease !important;
}

/* responsive navbar toggle button */
#topnav_menu .nav-btn {
  display: none;
}

/* hide responsive menu */
#topnav_hamburger_icon,
#topnav_responsive_menu {
  display: none;
}

@media only screen and (max-width: 780px) {
  #r-logo {
    width: 70px;
    display: flex;
    align-items: flex-end;
  }
  /* hide classic menu */
  #topnav_menu {
    display: none;
  }
  /* position home link at left and hamburger at right */
  #home_link {
    flex-grow: 1;
  }
  /* disable horizontal scrolling  */
  #root {
    position: relative;
    overflow-x: hidden;
  }
  /* show responsive menu and position at the right of the screen */
  #topnav_responsive_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background: #205072;
    margin: 0;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    transform-origin: 0% 0%;
    transform: translate(200%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #r-nav-link {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0;
    right: 0;
    top: 0;
    min-width: 50vw;
    height: 100vh;
    padding: 56px 0 0;
    text-align: center;
    background: #CFF4D2;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    font-family: "lemon_milkbold_italic", sans-serif;
  }
  #topnav_responsive_menu a {
    white-space: nowrap;
    color: #CFF4D2;
    text-decoration: none;
    font-family: "lemon_milkbold_italic", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
  }
  .r-dropdown {
    position: relative;
    display: inline-block;
  }
  .r-drop-content {
    display: none;
    position: absolute;
    min-width: 120px;
    background: #205072;
    font-size: 16px;
    top: 34px;
    z-index: 1;
  }
  .r-dropdown:hover .r-drop-content {
    display: block;
  }
  /* And let's slide it in from the right */
  #topnav_responsive_menu.open {
    transform: none;
    position: fixed;
  }
  /* ******************** HAMBURGER ICON ******************** */
  /* define size and position of the hamburger link */
  #topnav_hamburger_icon {
    display: block;
    position: relative;
    margin: 16px;
    width: 33px;
    height: 28px;
    z-index: 100;
    -webkit-user-select: none;
    -moz-user-select: none;
         user-select: none;
    cursor: pointer;
  }
  /* define the style (size, color, position, animation, ...) of the 3 spans */
  #topnav_hamburger_icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    margin-bottom: 5px;
    background: white;
    border-radius: 3px;
    z-index: 100;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
  /* set the 3 spans position to look like a hamburger */
  #topnav_hamburger_icon span:nth-child(1) {
    top: 0px;
    transform-origin: left top;
  }
  #topnav_hamburger_icon span:nth-child(2) {
    top: 12px;
    transform-origin: left center;
  }
  #topnav_hamburger_icon span:nth-child(3) {
    top: 24px;
    transform-origin: left bottom;
  }
  /* change color when opening the menu */
  #topnav_hamburger_icon.open span {
    background: black;
  }
  /* the first span rotates 45° \ */
  #topnav_hamburger_icon.open span:nth-child(1) {
    width: 110%;
    transform: rotate(45deg);
  }
  /* the second span disappears */
  #topnav_hamburger_icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  /* the last span rotates -45° / */
  #topnav_hamburger_icon.open span:nth-child(3) {
    width: 110%;
    transform: rotate(-45deg);
  }
}
#body-sf {
  background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-position: center;
}

.survey-form {
  max-width: 80%;
  font-family: Tahoma, sans-serif;
  color: white;
  line-height: 1.4;
  margin: auto auto;
}

.header-form-sf {
  color: white;
}

#title-sf {
  font-weight: 400;
  text-align: center;
  color: #fff;
  text-shadow: none;
  font-family: Tahoma, sans-serif;
}

#description-sf {
  text-align: center;
  font-style: italic;
  font-family: Tahoma, sans-serif;
  color: white;
  justify-content: center;
}

#survey-form {
  width: 80%;
  padding: 40px;
  background-color: rgba(27, 27, 50, 0.8);
  color: white;
  font-family: Tahoma, sans-serif;
  margin: auto;
}

#name-label-sf, #email-label-sf, #number-label-sf {
  font-family: Tahoma, sans-serif;
  border-radius: 5px;
  padding: 6px 12px;
  border: none;
  width: 100%;
  text-align: left;
  font-size: medium;
}

#name-sf::-moz-placeholder, #email-sf::-moz-placeholder, #number-sf::-moz-placeholder {
  font-family: Tahoma, sans-serif;
  font-size: medium;
  width: 80%;
}

#name-sf::placeholder, #email-sf::placeholder, #number-sf::placeholder {
  font-family: Tahoma, sans-serif;
  font-size: medium;
  width: 80%;
}

#name-sf, #email-sf, #number-sf {
  border-radius: 5px;
}

.input-sf, .input-survey {
  display: inline-block;
  min-width: 1.25rem;
  min-height: 1.25rem;
  padding: 0;
  margin-right: 0.625rem;
  position: relative;
  vertical-align: middle;
  font-size: medium;
}

.questions-sf {
  font-size: medium;
  font-family: Tahoma, sans-serif;
  color: white;
  font-family: Tahoma, sans-serif;
  padding-top: 25px;
}

.label-checkbox-sf, .label-input-radio-sf {
  font-family: Tahoma, sans-serif;
}

#features-sf, #role-sf {
  width: 100%;
  padding: 6px 12px;
  border-radius: 5px;
}

#comments {
  width: 100%;
  min-height: 120px;
  padding: 0.625rem;
  font-family: inherit;
  font-size: medium;
  border-radius: 5px;
  font-family: Tahoma, sans-serif;
}

.submit-button {
  width: 100%;
  margin-top: 12px;
  background-color: #37af65;
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding: 12px;
  color: white;
  border-radius: 5px;
}

.photodemoi {
  float: left;
  margin: 0 10% 10% 10%;
  max-width: 25%;
  min-width: 150px;
  max-height: 25%;
  min-height: 150px;
  z-index: 1;
  display: flex;
}/*# sourceMappingURL=newstyle.css.map */