@font-face {
  font-family: 'lemon_milkbold_italic';
    src: url('lemonmilk-bolditalic-webfont.eot');
    src: url('lemonmilk-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('lemonmilk-bolditalic-webfont.woff2') format('woff2'),
         url('lemonmilk-bolditalic-webfont.woff') format('woff'),
         url('lemonmilk-bolditalic-webfont.ttf') format('truetype'),
         url('lemonmilk-bolditalic-webfont.svg#lemon_milkbold_italic') format('svg');
}
